body {
    background: linear-gradient(to top,#F4A698, #00BFB2);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000;
    font-family: 'Comic Sans MS', 'Comic Sans', 'Lucida Sans', cursive
}
#main {
    padding: 10px;
    border-width: 10px;
    border-style: solid;
    border-radius: 50px;
    border-color: black;
    margin: 50px;
    background-color: #F4A698;
}
